* {
  box-sizing: border-box;
  font-family: "Arial", "Helvetica", sans-serif;
}

html,
body {
  height: 100%;
}

svg {
  width: 0;
  height: 0;
}

/*axe title css*/
.title {
  position: relative;
  background: #22395d;
  color: #fff;
  transform: rotate(10deg) translateX(5px) translateY(9vw);
  max-width: 500px;
  margin: auto;
}

.title::before {
  position: absolute;
  padding: 0.2rem;
  width: 86px;
  height: 150px;
  overflow: hidden;
  right: 25px;
  color: white;
  font-size: 13px;
  font-weight: normal;
  z-index: 999;
  content: "Despite making up only 0.0001% of all subreddits, r/Jreg makes 1000% of all fanart.";
}

.title::after {
  background: #808080;
  position: absolute;
  width: 190px;
  height: 190px;
  top: 0;
  right: -26px;
  content: " ";
  clip-path: url(#a);
}

/*select css*/
label {
  font-family: "Verdana", sans-serif;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  background-image: none;
  border: none;
}

select::-ms-expand {
  display: none;
}

select {
  background: rgba(12, 70, 204, 0.4);
  height: 30px;
  color: #fff;
  font-size: 16px;
  font-family: "Verdana", sans-serif;
}

#mode {
  width: 70px;
  margin-left: 10px;
}

#timeSelect {
  width: 120px;
}

.selectWrap{
  position: relative;
}

.selectWrap::after {
  position: absolute;
  cursor: pointer;
  content: "▼";
  color: #fff;
  height: 10px;
  width: 10px;
  top: 4px;
  right: 10px;
}

#timeSelWrap{
  position: absolute;
  left: 160px;
}

#galleryControls{
  margin-bottom: -5px;
}

/*help*/
#help-text {
  margin-top: 230px;
  margin-bottom: 20px;
}

/*gallery*/
.grid {
  overflow-x: scroll;
  padding: 3px 0 0 3px;
  white-space: nowrap;
  background: #ddd;
  width: 100%;
  height: 100%;
}

/* clear fix */
.grid:after {
  content: "";
  display: block;
  clear: both;
}

/*loading animation*/
@keyframes spin {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.spinner div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: spin linear 1s infinite;
  background: #292664;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}.spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #292664;
}.spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #292664;
}.spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #292664;
}.spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #292664;
}.spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #292664;
}.spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #292664;
}.spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #292664;
}.spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #292664;
}.spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #292664;
}.spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #292664;
}.spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #292664;
}.spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #292664;
}
.spinnerWrap {
  display: block;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.spinner {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0;
}
.spinner div { box-sizing: content-box; }

#packing{
  width: 120%;
}

#loading {
  width: 100%;
  height: 75%;
  background: rgba(120, 120, 120, 0.7);
  position: absolute;
  z-index: 99;
}

/*bricks (artwork)*/
.grid-sizer,
.grid-item {
  float: left;
  height: 31%;
  margin: .7vh;
}

.grid-item img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  border: #000 solid 1px;
}

/*help button*/
#hn {
  display: block;
  position: fixed;
  width: 130px;
  height: 100px;
  bottom: 0;
  right: 0;
  z-index: 99;
  background-image: url("images/hn.PNG");
  background-size: contain;
  background-repeat: no-repeat;
}

.speech-bubble {
  padding: 0.1rem;
  right: 15px;
  bottom: 20px;
  position: fixed;
  background: #000;
  color: #fff;
  z-index: 100;
}

/*image modal*/
#imgDscrptn {
  background: #f5f6f5;
}

@media (min-width: 1000px) {
  .title{
    width: 700px;
    max-width: 700px;
    font-size: 32px;
    transform: rotate(10deg) translateY(60px);
  }
  select{
   margin-top: 240px;
 }
  .title::before{
    text-align:center;
    width:110px;
    height: 190px;
    right: 38px;
    font-size: 18px;
  }
  .title::after{
    width: 240px;
    height: 240px;
  }
}
